/************************************************************************************************
* Structure
************************************************************************************************/
html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
body {
    background: url(/images/bg.png) repeat;
}

.container {
    width: 800px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0;
    margin: 50px auto;
    padding: 20px 100px;
}

/************************************************************************************************
* Miscellaneous utility styles
************************************************************************************************/
ul.none {
    margin: 0;
    padding: 0;
}
ul.none li {
    list-style-type: none;
}
.img_round {
    border-radius: 10px;
    box-shadow: 1px 1px 2px #eee;
}
.img_left {
    float: left;
    display: block;
    margin: 0 20px 20px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #eee;
}
code {
    color: black;
    background-color: #eee;
}
pre {
    background-color: #eee;
}

.hljs {
    background-color: #eee;
}

/*************************************************************************************************
*   Header / navigation styles
*************************************************************************************************/
.logo {
    position: absolute;
    right: -109px;
    top: 90px;
}
.header {
    position: relative;
    background-image: url(/images/tree.png);
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
    height: 90px;
    width: 700px;
    border-bottom: 2px solid black;
}
.header ul {
    margin: 0;
    padding: 0;
}
.header li {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.header a {
    color: black;
    background-color: transparent;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
    transition: all 0.5s ease 0s;
}
.header a:hover, .header a:active {
    color: white;
    background-color: black;
}

/*************************************************************************************************
* Headers
*************************************************************************************************/
h1, h2, h3, h3 {
    font-family: 'Oswald', sans-serif;
    color: #331F00;
}
h1 {
    font-size: 24px;
    color: black;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
}

/*************************************************************************************************
* Content
*************************************************************************************************/
.content a {
    color: black;
    background-color: #eee;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
    transition: all 0.5s ease 0s;
}
.content a:hover, .content a:active {
    color: white;
    background-color: orange;
}
.content a.nohover {
    background-color: transparent;
}
.content a.nohover:hover, .content a.nohover:active {
    background-color: transparent;
}
.content h1 a {
    background-color: transparent;
}

/*************************************************************************************************
* Article
*************************************************************************************************/
.article {
    margin-top: 20px;
}
.article h1 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid orange;
}
.article h1 span {
    font-size: 14px;
    color: orange;
    margin-right: 10px;
}
