upstream exmodfi {
    server 127.0.0.1:8080;
}

server {
    listen       80;
    server_name  mod.fi;
    return       301 http://www.mod.fi$request_uri;
}

server {
    listen 80;
    server_name www.mod.fi;

    location / {
        try_files $uri @proxy;
    }

    location @proxy {
        include proxy_params;
        proxy_redirect off;
        proxy_pass http://exmodfi;
    }
}