<div class="row">
<h1>Contact me</h1>
<p>You can contact me by email or one of the following social networks:</p>
<ul class="none"  style="background-image: url(images/tree_large.jpg); background-repeat: no-repeat; background-position: right;">
    <li style="padding: 2px"><img src="/images/email.png"> <a href="mailto:janne.kaistinen@iki.fi">janne.kaistinen@iki.fi</a></li>
    <li style="padding: 2px"><img src="/images/facebook.png"> <a href="http://www.facebook.com/janne.kaistinen">Facebook</a></li>
    <li style="padding: 2px"><img src="/images/twitter.png"> <a href="http://twitter.com/#!/jannekai">Twitter</a></li>
    <li style="padding: 2px"><img src="/images/linkedin.png"> <a href="http://fi.linkedin.com/in/jannekaistinen">LinkedIn</a></li>
    <li style="padding: 2px"><img src="/images/github.png"> <a href="https://github.com/jannekai">GitHub</a></li>
</ul>
