<div class="row article">
	<h1>
		<a class="nohover" href="/article/<%= @id %>"><span><%= @date %></span></a>
		<a class="border" href="/article/<%= @id %>"><%= @title %></a>
	</h1>
	<div class="intro">
		<%= safe article_content @id %>
	</div>
</div>
